@font-face {
    font-family: '116watermelon';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/116watermelon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.NavbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #006769;
}

.NavbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.Logo {
    font-family: '116watermelon';
    color: white;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 0.3vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.MenuIcon {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    margin-left: auto;
    margin-bottom: 0.2rem;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/

.HomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    background-color: #006769;
}

.HomeContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}

.CameraIcon {
    color: white;
    font-size: 10rem;
    margin-bottom: 20px;
}

.text_1, .text_2 {
    font-family: 'Amaranth';
    color: white;
    text-align: center;
    position: relative;
}

.text_1 {
    font-size: 2rem;
    margin-top: 20px;
}

.text_2 {
    font-size: 1rem;
    margin-top: 10px;
}


/*--------------------------------------------------------------
# Webcam
--------------------------------------------------------------*/
.webcamContainer {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  color: white;
  margin: 0;
  padding: 0;
  
}

.webcam {
    width: 100%;
    height: 100%;
    object-fit: cover;
        border: none;
}


/*--------------------------------------------------------------
# Detail
--------------------------------------------------------------*/


.DetailContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.AImg {
    width: 60%;
    border: 2px solid black;
    margin-left: 30%;
}

.Title, .Method, .Content, .Explain {
    text-align: left;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: 25%;
}

/* deatail페이지 전용 CSS */

.NavbarContainer.detail-page {
    background-color: white; /* 원하는 배경 색상 */
  }
  
  .NavbarContainer.detail-page .Logo {
    color: black; /* 원하는 글씨 색상 */
  }
  
  .NavbarContainer.detail-page .MenuIcon {
    color: black; /* 원하는 글씨 색상 */
  }
 

/* 반응형 웹 디자인을 위한 미디어 쿼리 */

