

.HomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.HomeContents {
    max-width: 800px;
    text-align: center;
}

.CameraIcon {
    
    position: absolute;
    left: 0;
    bottom: 8%;
}

.Home_text {

    position: absolute;
    top: 110px;
    left: 40px;
    color: #2B2F8E;
    font-size: 1rem;
}

.text2 {
    margin-top: 35px ;
}

.ImgContainer {
    height: 100%;
    width: 100%;
    position: relative;

    
}

.ImgContents {
    position: relative;
    
}

.HomeImg1, .HomeImg2, .HomeImg3, .HomeImg4 {
    position: absolute;
    border-radius: 30px;
}

.Img1 {
    top: 250px;
    left: 40px;
    width: 400px;
    height: 400px;
}

.Img2 {
    top: 500px;
    left: 40px;
    width: 400px;
    height: 400px;
}

.Img3 {
    top: 170px;
    left: 280px;
    width: 250px;
    height: 200px;
}

.Img4 {
    top: 400px;
    left: 280px;
    width: 250px;
    height: 400px;
}
 
