

.HomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.HomeContents {
    max-width: 800px;
    text-align: center;
}

.CameraIcon {
    
    position: absolute;
    left: 0;
    bottom: 8%;
}

.Home_text {

    position: absolute;
    top: 110px;
    left: 40px;
    color: #2B2F8E;
    font-size: 1rem;
}

.text2 {
    margin-top: 35px ;
}

.ImgContainer {
    height: 100%;
    width: 100%; /* 화면 너비 */
    position: relative;
    animation: slideInfinite 10s linear infinite;
    
}

/* 슬라이드 애니메이션 */
.ImgContents {
    position: relative;
    
}

/* 기존 이미지 스타일 유지 */
.HomeImg1, .HomeImg2, .HomeImg3, .HomeImg4 {
    position: absolute;
    border-radius: 30px;
}

/* 각 이미지 위치 및 크기 */
.Img1 {
    top: 250px;
    left: 40px;
    width: 200px;
    height: 200px;
}

.Img2 {
    top: 500px;
    left: 40px;
    width: 200px;
    height: 200px;
}

.Img3 {
    top: 170px;
    left: 280px;
    width: 250px;
    height: 200px;
}

.Img4 {
    top: 400px;
    left: 280px;
    width: 250px;
    height: 400px;
}

/* 슬라이드 애니메이션 */
@keyframes slideInfinite {
    0% {
        transform: translateX(40vw); /* 시작 위치 */
    }
    100% {
        transform: translateX(-200vw); /* 왼쪽 끝까지 이동 */
    }
}

