.MainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.MainContents {
    max-width: 800px;
    text-align: center;

}

.webcam {

    width: 400px;
    height: 400px;
    margin-top: 250px;
}

.line1 {

    width: 400px;
    position: absolute;
    top: 25vh;
    color: #FFC600;
}

.line2 {
    width: 400px;
    position: absolute;
    top: 70vh;
}

.text {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #C5A63A;
    font-size: 1.2rem;

}

.Camera_icon{
    position: absolute;
    top: 22.5vh;
    left: 15px;
    width: 30px;
    
}

.ImgContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    /* opacity: 50%; */
    left: 20%;
}

/* 슬라이드 애니메이션 */
.ImgContents {
    position: relative;
    /* margin-right: 100%; */

}

/* 기존 이미지 스타일 유지 */
.HomeImg1, .HomeImg2, .HomeImg3, .HomeImg4 {
    /* position: absolute; */
    border-radius: 30px;
}

.Img1, .Img2, .Img3, .Img4 {

    /* opacity: */
}

/* 각 이미지 위치 및 크기 */
.Img1 {
    top: 180px;
    left: -100px;
    width: 400px;
    height: 300px;
}

.Img2 {
    top: 500px;
    left: -100px;
    width: 400px;
    height: 300px;
}

.Img3 {
    top: 90px;
    left: 400px;
    width: 600px;
    height: 250px;
}

.Img4 {
    top: 350px;
    left: 400px;
    width: 600px;
    height: 500px;
}


.LoadingContainer {
    position: fixed; /* 화면 전체를 덮음 */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* 최상위 레이어 */
}

.Loding {
    position: absolute;
    top: 40vh;
    left: 40vw;
    width: 100px;

}