.MainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.MainContents {
    max-width: 800px;
    text-align: center;

}

.webcam {

    width: 400px;
    height: 400px;
    margin-top: 250px;
}

.line1 {

    width: 400px;
    position: absolute;
    top: 25vh;
    color: #FFC600;
}

.line2 {
    width: 400px;
    position: absolute;
    top: 70vh;
}

.text {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #C5A63A;
    font-size: 1.2rem;

}

.Camera_icon{
    position: absolute;
    top: 22.5vh;
    left: 15px;
    width: 30px;
    
}

.ImgContainer {
    height: 100%;
    width: 100%; /* 화면 너비 */
    position: relative;
    animation: slideInfinite 10s linear infinite;
    
}

/* 슬라이드 애니메이션 */
.ImgContents {
    position: relative;
    
}

/* 기존 이미지 스타일 유지 */
.HomeImg1, .HomeImg2, .HomeImg3, .HomeImg4 {
    position: absolute;
    border-radius: 30px;
}

/* 각 이미지 위치 및 크기 */
.Img1 {
    top: 250px;
    left: 40px;
    width: 200px;
    height: 200px;
}

.Img2 {
    top: 500px;
    left: 40px;
    width: 200px;
    height: 200px;
}

.Img3 {
    top: 170px;
    left: 280px;
    width: 250px;
    height: 200px;
}

.Img4 {
    top: 400px;
    left: 280px;
    width: 250px;
    height: 400px;
}

/* 슬라이드 애니메이션 */
@keyframes slideInfinite {
    0% {
        transform: translateX(40vw); /* 시작 위치 */
    }
    100% {
        transform: translateX(-200vw); /* 왼쪽 끝까지 이동 */
    }
}

.LoadingContainer {
    position: fixed; /* 화면 전체를 덮음 */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* 최상위 레이어 */
}

.Loding {
    position: absolute;
    top: 40vh;
    left: 40vw;
    width: 100px;

}